
@{
    ViewBag.Title = "Index";
}

<h2>Đăng nhập</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Mật khẩu</label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Login</button>
    if (ViewBag.Error != null)
    {
        <p style="color:red">@ViewBag.Error</p>
    }
}

