.btn1 {
    border-radius: 16px;
    background-color: #EE6823;
    box-shadow: 0 1px 4px rgba(0,0,0,0.3);
    color: white;
    transition: all 0.15s ease-in-out;
    border: 0 !important;
}

    .btn1:hover {
        background-color: #EE6823;
        box-shadow: 0 2px 6px rgba(0,0,0,0.4);
        color: white;
        transform: scale(1.02);
    }

    .btn1:active {
        background-color: #EE6823 !important;
        transform: scale(0.95); 
        box-shadow: 0 1px 3px rgba(0,0,0,0.2);
        color: white !important;
        border: 0;
    }
.btn1-secondary {
    border-radius: 16px;
    background-color: #6c757d; /* màu xám trung tính */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    color: white;
    transition: all 0.15s ease-in-out;
    border: 0 !important;
}

    .btn1-secondary:hover {
        background-color: #5a6268; /* xám đậm hơn khi hover */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
        color: white;
        transform: scale(1.02);
    }

    .btn1-secondary:active {
        background-color: #545b62 !important;
        transform: scale(0.95);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        color: white !important;
        border: 0;
    }

/*
   .btn1-success {
    background-color: #198754;
    color: #fff;
}
    .btn1-success:hover {
        background-color: #157347;
        transform: scale(1.02);
    }

    .btn1-success:active {
        background-color: #146c43 !important;
        transform: scale(0.95);
  
------------------------------------------

        .btn1-danger {
        background-color: #dc3545;
        color: #fff;
    }

        .btn1-danger:hover {
            background-color: #bb2d3b;
            ;
            transform: scale(1.02);
        }

        .btn1-danger:active {
            background-color: #a52834 !important;
            transform: scale(0.95);
        }
*/