.body-content {
    margin-top: 20px;
    padding: 0 20px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    margin-bottom:16px
}

:root {
    --font-family-system: "Instagram Sans UI", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

html, body {
    font-family: var(--font-family-system);
    font-size: 16px;
    color: #000;
    height:100%;
}

.navbar .nav-link {
    text-decoration: none;
    position: relative;
}

.navbar .nav-link {
    text-decoration: none;
}

    .navbar .nav-link:hover {
        text-decoration: none;
    }

    .navbar .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 2px;
        background-color: #EE6823;
        transition: width 0.3s ease-in-out;
    }

    .navbar .nav-link:hover::after {
        width: 100%;
    }
.navbar .btn {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 16px;
}
    .navbar .btn:hover {
        background-color: #EE6823;
        border: 1px solid #EE6823;
    }


