USE [KTXSV]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[BedID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[BedNumber] [int] NOT NULL,
	[IsOccupied] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotiID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[TargetRole] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RegID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Type] [varchar](20) NULL,
	[PaymentDate] [date] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[BedID] [int] NULL,
	[Note] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [varchar](10) NULL,
	[RoomNumber] [varchar](10) NOT NULL,
	[Building] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Occupied] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFiles]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FileType] [varchar](50) NOT NULL,
	[FilePath] [varchar](255) NOT NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoomID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[Reply] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/7/2025 9:16:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Role] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[CCCD] [varchar](12) NOT NULL,
	[BirthDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bed] ON 

INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (2, 1, 2, 1)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (3, 1, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Bed] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [RegID], [Amount], [Type], [PaymentDate], [Status]) VALUES (2, 113, CAST(800000.00 AS Decimal(10, 2)), N'Rent', CAST(N'2025-11-07' AS Date), N'Paid')
INSERT [dbo].[Payments] ([PaymentID], [RegID], [Amount], [Type], [PaymentDate], [Status]) VALUES (3, 114, CAST(800000.00 AS Decimal(10, 2)), N'Rent', CAST(N'2025-11-07' AS Date), N'Unpaid')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegID], [UserID], [RoomID], [StartDate], [EndDate], [Status], [BedID], [Note]) VALUES (88, 21, 1, CAST(N'2025-10-01' AS Date), NULL, N'Active', 1, NULL)
INSERT [dbo].[Registrations] ([RegID], [UserID], [RoomID], [StartDate], [EndDate], [Status], [BedID], [Note]) VALUES (89, 25, 1, CAST(N'2025-09-25' AS Date), NULL, N'Active', 2, NULL)
INSERT [dbo].[Registrations] ([RegID], [UserID], [RoomID], [StartDate], [EndDate], [Status], [BedID], [Note]) VALUES (90, 30, 1, CAST(N'2025-09-20' AS Date), NULL, N'Active', 3, NULL)
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (1, N'Male', N'A0101', N'A', 8, 8, CAST(800000.00 AS Decimal(10, 2)), N'Full')
INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (2, N'Male', N'A0102', N'A', 8, 0, CAST(800000.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (3, N'Male', N'A0103', N'A', 8, 0, CAST(800000.00 AS Decimal(10, 2)), N'Available')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentFiles] ON 

INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (44, 53, N'CCCD', N'/Uploads/Students/53_CCCD_CCCD.png', CAST(N'2025-11-07T21:01:59.390' AS DateTime))
INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (45, 53, N'BHYT', N'/Uploads/Students/53_BHYT_BHYT.png', CAST(N'2025-11-07T21:01:59.397' AS DateTime))
INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (46, 53, N'StudentCard', N'/Uploads/Students/53_StudentCard_Student IDCard.png', CAST(N'2025-11-07T21:01:59.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[StudentFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Gender], [Email], [Phone], [Role], [CreatedAt], [CCCD], [BirthDate]) VALUES (21, N'student1', N'$2a$11$bQ8wydGgEvm4pFapjzqM7Ox7B65LL3iHgE3cFbLIxpR5j5yws9wdC', N'Phạm Văn Kiên', N'Male', N'kienphamm.203111@gmail.com', N'0328805548', N'Student', CAST(N'2025-11-02T10:03:10.800' AS DateTime), N'068203005124', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Gender], [Email], [Phone], [Role], [CreatedAt], [CCCD], [BirthDate]) VALUES (22, N'admin', N'$2a$11$usnyP0/a9lPjmF.L4imVLO5qxD.PLku/8pShtWKAFRsW6ZEO5Uc32', N'Kiên Admin', N'Male', N'kienphamm.203.1@gmail.com', N'0328805217', N'Admin', CAST(N'2025-11-02T10:06:01.723' AS DateTime), N'068203005217', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Gender], [Email], [Phone], [Role], [CreatedAt], [CCCD], [BirthDate]) VALUES (25, N'student2', N'$2a$11$bQ8wydGgEvm4pFapjzqM7Ox7B65LL3iHgE3cFbLIxpR5j5yws9wdC', N'student2', N'Male', N'kienphamm.2032@gmail.com', N'0328805272', N'Student', CAST(N'2025-11-02T10:03:10.000' AS DateTime), N'068203005272', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4B1F086F3]    Script Date: 11/7/2025 9:16:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4F1A2F942]    Script Date: 11/7/2025 9:16:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105347B39D465]    Script Date: 11/7/2025 9:16:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C2B05206]    Script Date: 11/7/2025 9:16:39 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bed] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('All') FOR [TargetRole]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[StudentFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Student') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('') FOR [CCCD]
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([RegID])
REFERENCES [dbo].[Registrations] ([RegID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registrations_Bed] FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Bed]
GO
ALTER TABLE [dbo].[StudentFiles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([TargetRole]='Admin' OR [TargetRole]='Student' OR [TargetRole]='All'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([TargetRole]='Admin' OR [TargetRole]='Student' OR [TargetRole]='All'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Unpaid' OR [Status]='Paid' OR [Status]='owe'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Unpaid' OR [Status]='Paid' OR [Status]='owe'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Type]='Other' OR [Type]='Water' OR [Type]='Electricity' OR [Type]='Rent'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Type]='Other' OR [Type]='Water' OR [Type]='Electricity' OR [Type]='Rent'))
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([Status]='Ended' OR [Status]='Transferred' OR [Status]='Active' OR [Status]='Rejected' OR [Status]='Canceled' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([Status]='Ended' OR [Status]='Transferred' OR [Status]='Active' OR [Status]='Rejected' OR [Status]='Canceled' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[StudentFiles]  WITH CHECK ADD CHECK  (([FileType]='Portrait' OR [FileType]='StudentCard' OR [FileType]='BHYT' OR [FileType]='CCCD'))
GO
ALTER TABLE [dbo].[StudentFiles]  WITH CHECK ADD CHECK  (([FileType]='Portrait' OR [FileType]='StudentCard' OR [FileType]='BHYT' OR [FileType]='CCCD'))
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD CHECK  (([Status]='Resolved' OR [Status]='Rejected' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD CHECK  (([Status]='Resolved' OR [Status]='Rejected' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Student'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Student'))
GO
