USE [KTXSV]
GO
/****** Object:  Table [dbo].[Bed]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bed](
	[BedID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[BedNumber] [int] NOT NULL,
	[IsOccupied] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[BedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotiID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[TargetRole] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[NotiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RegID] [int] NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Type] [varchar](20) NULL,
	[PaymentDate] [date] NULL,
	[Status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registrations]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registrations](
	[RegID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[Status] [varchar](20) NULL,
	[BedID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[Gender] [varchar](10) NULL,
	[RoomNumber] [varchar](10) NOT NULL,
	[Building] [varchar](20) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Occupied] [int] NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Status] [varchar](20) NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentFiles]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FileType] [varchar](50) NOT NULL,
	[FilePath] [varchar](255) NOT NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[RequestID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[RoomID] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 10/23/2025 4:13:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [varchar](10) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Role] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bed] ON 

INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (1, 1, 1, 1)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (2, 1, 2, 0)
INSERT [dbo].[Bed] ([BedID], [RoomID], [BedNumber], [IsOccupied]) VALUES (3, 1, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[Bed] OFF
GO
SET IDENTITY_INSERT [dbo].[Registrations] ON 

INSERT [dbo].[Registrations] ([RegID], [UserID], [RoomID], [StartDate], [EndDate], [Status], [BedID]) VALUES (69, 1, 1, CAST(N'2025-10-23' AS Date), NULL, N'Pending', 1)
SET IDENTITY_INSERT [dbo].[Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (1, N'Male', N'A0101', N'A', 8, 1, CAST(800000.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (2, N'Male', N'A0102', N'A', 8, 0, CAST(800000.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Rooms] ([RoomID], [Gender], [RoomNumber], [Building], [Capacity], [Occupied], [Price], [Status]) VALUES (3, N'Male', N'A0103', N'A', 8, 0, CAST(800000.00 AS Decimal(10, 2)), N'Available')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentFiles] ON 

INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (32, 1, N'CCCD', N'/Uploads/Students/1_CCCD_Screenshot 2025-10-18 233233.png', CAST(N'2025-10-23T15:23:52.690' AS DateTime))
INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (33, 1, N'BHYT', N'/Uploads/Students/1_BHYT_Screenshot 2025-10-18 233240.png', CAST(N'2025-10-23T15:23:52.690' AS DateTime))
INSERT [dbo].[StudentFiles] ([FileID], [UserID], [FileType], [FilePath], [UploadedAt]) VALUES (34, 1, N'StudentCard', N'/Uploads/Students/1_StudentCard_Screenshot 2025-10-18 233244.png', CAST(N'2025-10-23T15:23:52.693' AS DateTime))
SET IDENTITY_INSERT [dbo].[StudentFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [PasswordHash], [FullName], [Gender], [Email], [Phone], [Role], [CreatedAt]) VALUES (1, N'kienpham', N'88888888', N'Phạm Văn Kiên', N'Male', N'24dh110894@gmail.com', N'0123456789', N'Student', CAST(N'2025-10-11T12:46:22.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4CB16B9CC]    Script Date: 10/23/2025 4:13:58 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D10534C2D41BB2]    Script Date: 10/23/2025 4:13:58 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bed] ADD  DEFAULT ((0)) FOR [IsOccupied]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('All') FOR [TargetRole]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Registrations] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[StudentFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SupportRequests] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Student') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bed]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD FOREIGN KEY([RegID])
REFERENCES [dbo].[Registrations] ([RegID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD  CONSTRAINT [FK_Registrations_Bed] FOREIGN KEY([BedID])
REFERENCES [dbo].[Bed] ([BedID])
GO
ALTER TABLE [dbo].[Registrations] CHECK CONSTRAINT [FK_Registrations_Bed]
GO
ALTER TABLE [dbo].[StudentFiles]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([TargetRole]='Admin' OR [TargetRole]='Student' OR [TargetRole]='All'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Status]='Overdue' OR [Status]='Unpaid' OR [Status]='Paid'))
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD CHECK  (([Type]='Other' OR [Type]='Water' OR [Type]='Electricity' OR [Type]='Rent'))
GO
ALTER TABLE [dbo].[Registrations]  WITH CHECK ADD CHECK  (([Status]='Ended' OR [Status]='Active' OR [Status]='Rejected' OR [Status]='Canceled' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[StudentFiles]  WITH CHECK ADD CHECK  (([FileType]='Portrait' OR [FileType]='StudentCard' OR [FileType]='BHYT' OR [FileType]='CCCD'))
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD CHECK  (([Status]='Resolved' OR [Status]='In Progress' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Gender]='Female' OR [Gender]='Male'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Admin' OR [Role]='Student'))
GO
