
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .custom{
        border-radius:20px;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        margin:16px 32px;
        padding: 16px
    }
        .custom:hover {
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
        }
    .note-box {
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        background-color: #fffbe6;
        margin: 0px 16px;
        padding: 16px;
        border-left: 5px solid #ffc107;
        border-radius:20px;
    }
    .note-box:hover {
        box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    }
        .custom p,
        .note-box p,
        .note-box ul {
            margin: 0;
        }
        .note-box ul {
            margin-top: 8px; 
            padding-left: 20px; 
        }
    .btn1 {
        border-radius: 10px;
        background-color: #EE6823;
        box-shadow: 0 1px 4px rgba(0,0,0,0.3);
        color:white;
    }
        .btn1:hover {
            background-color: #DD6120;
            box-shadow: 0 4px 8px rgba(0,0,0,0.3);
            color: white;
        }
    .head {
        background-color: #EE6823;
        border-top-left-radius:20px; 
        border-top-right-radius:20px; 
    }
</style>
<main class="pb-3" style="border-radius: 20px; box-shadow: 0 8px 16px rgba(0,0,0,0.3)">
    <div class=" head text-white p-3 fs-4" >
        <p class="m-0">Các hồ sơ cần thiết trước khi đăng ký</p>
    </div>
    <div class="custom">
        <p>Thẻ Căn cước công dân<br /><small>(Có thể sử dụng VneID)</small></p>
    </div>
    <div class="custom">
        <p>Thẻ bảo hiểm y tế<br /><small>(Có thể sử dụng VneID/VssID hoặc hình chụp thẻ giấy)</small></p>
    </div>
    <div class="custom">
        <p>Giấy báo trúng tuyển, nhập học hoặc thẻ sinh viên</p>
    </div>
    <div class="custom ">
        <p>Ảnh chân dung</p>
    </div>
    <div class="note-box">
        <p>
            <strong>Lưu ý:</strong> Sinh viên tải minh chứng đã làm thủ tục nhập học tại CSĐT:
            <ul>
                <li>
                    <strong>Tân sinh viên:</strong> Hình giấy xác nhận nhập học trên cổng thông tin của Bộ Giáo dục & Đào tạo, biên nhận hồ sơ nhập học, giấy xác nhận nhập học, đơn đăng ký ở KTX, giấy giới thiệu, giấy xác nhận, giấy chứng nhận của CSĐT, biên nhận tiền, thẻ sinh viên,…
                </li>
                <li>
                    <strong>Sinh viên năm 2 trở lên:</strong> Hình thẻ sinh viên
                </li>
            </ul>
           
        </p>
    </div>
    <div class="text-center my-4" >
        <a class="btn btn-lg btn1 px-5 " href="/Phong/DangKyPhong">Đăng ký</a>
    </div>
</main>